<%= render partial: "shared/message" %>
		
<nav class=" w3-sidenav w3-collapse w3-white w3-card-2" style="z-index:3;width:300px;">
	<p class="w3-center w3-border-bottom" style="font-size:1.6em"><%= @book.name %></p>
	<a href="javascript:void(0)" onclick="w3_close()" 
	class="w3-text-teal w3-hide-large w3-closenav w3-large">Close ×</a>
		
<% @bookposts.each do |bookpost| %>
  <% if bookpost.header %>
    <h3 style="color:#333333;margin-left:10px"><%= bookpost.title %></h3>
  <% else %>	
  	<%= link_to  [bookpost.book, bookpost], class: "w3-hover-text-blue" do %>
                 <i class="fa fa-file-text" style="margin-right:10px"></i><%= bookpost.title  %>
  	<% end %>
  <% end %>	
<% end %> 		
			
</nav>

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer"></div>

<div class="w3-main" style="margin-left:300px;">

	<div class="w3-top  w3-container w3-padding w3-theme ">
		<i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
		<%= link_to root_path do %>
			<%= image_tag "robot_black", style: "width:18px" %>
			<div class="w3-tag w3-theme-l1">c</div>
			<div class="w3-tag w3-theme-l1" >h</div>
			<div class="w3-tag w3-theme-l1">a</div>
			<div class="w3-tag w3-theme-l1">p</div>
			<div class="w3-tag w3-theme-l2">r</div>
			<div class="w3-tag w3-theme-l2">y</div>
		<% end %>
				
			
		<% if(!user_signed_in?) %>
			
			<div style="float:right"><%= link_to "Dang Nhap", new_user_session_path %></div>
			
		<% else%>
			<a style="float:right" href="javascript:void(0);" onclick="myFunction()">Hi!.<%= current_user.name %><i class="fa fa-caret-down"></i></a> 
			
			<div id="demo" class="w3-hide ">
				<ul class="w3-navbar w3-left-align w3-large w3-black">
					<li><%= link_to "THOÁT", destroy_user_session_path, method: :delete, class: "w3-hover-shadow"  %></li>
					<li><%= link_to "TAI KHOẢN", edit_user_registration_path, class: "w3-hover-shadow"  %> </li>
				</ul>
			</div>
		<% end %>  
	</div>
	
		
	<header class="w3-card-1 w3-container w3-theme-l2 ">
		<div style="margin-top:36px" class="w3-container">
			<h1 style="color:#337AB7"><i style="margin-right:7px" class="w3-spin fa fa-cogs"></i><%= @bookpost.title %></h1>
			<ul style="float:right" class="w3-navbar">
				<li>
					<%= link_to book_index_path do %>
					<i style="margin-right:7px" class="fa fa-file-text-o"  ></i>books (3000)
					<% end %>
				</li>
				<li>
					<%= link_to category_index_path do %>
					<i style="margin-right:7px" class="fa fa-file-text-o"  ></i>articles (3000)
					<% end %>
				</li>
			</ul>  
		</div><br>
		
	</header>
	
	<div style="font-size:1.095em;max-width:680px;margin:auto" class="w3-container  w3-white">  
		<%= raw @bookpost.note %>
	</div>


	<footer class="w3-container w3-theme-l2 w3-padding-jumbo">
		<h5>Footer</h5>
		<p>Footer information goes here</p>
	</footer>
		 
</div>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>